%section
%h1 Notes on git
%ul
  %li git checkout -b my-new-branch
  %li git add .
  %li gg added a new Notes controller
  %li git checkout master
  %li git merge my-new-branch
  %li git status
  %li git push
  %li git push heroku
  