%title
  =@title
%h1 Here are the Links to the Notes
%ul
  %li=link_to  "New App", '/notes/new'                                              

  %li=link_to  "Git", '/notes/git'
                                     
  %li=link_to  "To Do", '/notes/todo'          
                                              
  %li=link_to  "Rspec", '/notes/rspec'              

  %li=link_to  "Model", '/notes/model'                           
                                                       
  %li=link_to  "Controller", '/notes/controller'                 
                                                       
  %li=link_to  "View", '/notes/view'                             
                                                       
  %li=link_to  "CSS", '/notes/css'                               
                                                       
  %li=link_to  "Heroku", '/notes/heroku'                         