%section
  %h2 Notes on Starting the Rails App
  %p We make the following assumptions:
  %ul                             
    %li <code>Rails</code> is installed.       
    %li <code>Gems</code> are installed.                
    %li <code>Git</code> is installed and relationship with Github established.               
    %li <code>Heroku</code> is installed and relationship established.    
    
  %p Here is a command line history:    
  %ul   
    %li Make a directory and create project                                  
    %li <code>$ mkdir dumb</code> 
    %li <code>$ cd dumb</code>               
    %li <code>$ rails new dumb</code> 
    <br> 
    %li Smoke test observable at localhost:3000           
    %li <code>$ rails s</code>  
    <br>
    %li Shut down server         
    %li <code>$ ^C </code>  
    <br>    
    %li Create repo at github.com         
    %li <code>$ git init s</code>           
    %li <code>$ git add . s</code>           
    %li <code>$ git commit -m "my first commit" s</code>           
    %li Github specific code
    <br>
    %li Deploy to heroku.com        
    %li <code>$ heroku code goes here s</code>