%section 
%h1 A List of Things to do
%ul
  %li implement <code>Rspec</code>
  %li clean up <code>CSS</code> file
  %li understand the role of <code>sass</code>
  %li get comfortable with <code>container</code> class
  %li introduction to <code>sinatra</code>           
  %li introduction to <code>compass</code>           
  %li introduction to network protocols
  %li introduction to <code>javascript</code>
  %ul                                 
    %li <code>node.js</code>          
    %li <code>jQuery</code>           
    %li <code>coffeescript</code>     
    %li <code>jasmine</code>          
%h3 Algorithm Zoo is an experimental concept that integrates programming, statistics and thesis with trading. 
%h4 Watching markets might be fun, but even more fun to watch them after they morph into creatures.
    