%section
%h1 To Add a View (or a web page)
%p To add a new view to the milk controller, you must touch three different files
%ul                             
  %li <code>app/controllers/milk_controller.rb </code>       
  %li <code>app/config/routes.rb</code>                
  %li <code>app/views/milk/butter.haml</code>
%p Also, if a link is desired, then an alteration is needed to:
%ul                             
  %li <code>app/views/layouts/application.haml</code>e in app/views/notes/view.html.haml