
<html>
<head>
    <title>"butter"</title>
</head>
<div class="container">
    <h3>stylesheet_link_tag</h3>
    <p>This function passes in the stylesheet</p>
    <p>takes first argument in single quotes and
       second argument in hash</p>
    
    <h3>csrf_meta_tag</h3>
    <p>This function passes protects against forgery</p>
    <p>takes no arguments</p>
    
    <h3>div class="container"</h3>
    <p>div creates a section</p>
    <p>class takes the argument container</p>
</div>


</html>

