Failures:

  1) NotesController GET 'index' should have the right title
     Failure/Error: response.should have_selector("title",
       expected following output to contain a <title>My Dumb Website | Notes Central</title> tag:
       <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
     # ./spec/controllers/notes_controller_spec.rb:13:in `block (3 levels) in <top (required)>'
