/*html, body, .container { 
  height: 100%; 
  background: white;
  }
*/
header 
{
  background: white;
}

/*body > #container { 
  height: auto; 
  min-height: 100%; 
  }
  */
/*other steal  */
	
header {
  padding-top: 10px;
}	
	
header img {
  padding: 1em;
  background: white;
}	
	
/*nav steal*/
	
/*nav {
  float: right;
}

nav {
  background-color: lime;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}


nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
*/


/*other stuff*/

code
{
  background-color: #D3D3D3;
  
}

	



nav 
{
  padding-left: 100px;
  font-size: 120%;
  border-width: 3px;
  border-color: #E2E7E9;
  border-top-style: solid;
  border-bottom-style: solid;
  line-height: 1.4em;
  padding-bottom: 1px;
  margin-bottom: 1px;

}


ul
{
  margin: 5px;
}

nav ul li 
{  

 list-style-type: none;
 display: inline-block;
 padding-left: 25px;

}

a {

  color:gray;
  text-decoration:none;
   
}

p {
  font-size: 130%; 
}


h2 {
  margin: 15px;
}	

h4 {
  margin: 15px;
}
	
p {
  margin: 15px;
}	
	
#footer {
  color: lime;
	clear: both;                 
	position: relative;          
	z-index: 10;                 
	height: 3em;                 
	margin-top: -2em; 
/*  margin-left: 7em;*/
	padding-left: 150px;
	background: lime;           
	}
	
#content {
  padding-bottom: 3em; 
  }
