%html
  %title
    =@title
  %head    
  %body
    .container
      %section 
        %h2 version 0.05
        %p Now that I've got the links working, I'm going to put them to good use. I will store there some notes on workflow and how to achieve a particular task. To celebrate, let's have a smoke and a drink, as gentlemen are wont to do.
        =image_tag 'Dancing-Bear.jpg'
          